[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "lib/ccip"]
	path = lib/ccip
	url = https://github.com/smartcontractkit/ccip
[submodule "lib/chainlink"]
	path = lib/chainlink
	url = https://github.com/smartcontractkit/chainlink
[submodule "lib/world-id-contracts"]
	path = lib/world-id-contracts
	url = https://github.com/worldcoin/world-id-contracts
[submodule "lib/pyth-sdk-solidity"]
	path = lib/pyth-sdk-solidity
	url = https://github.com/pyth-network/pyth-sdk-solidity
[submodule "lib/chainlink-local"]
	path = lib/chainlink-local
	url = https://github.com/smartcontractkit/chainlink-local
[submodule "lib/v4-core"]
	path = lib/v4-core
	url = https://github.com/Uniswap/v4-core
[submodule "lib/v4-periphery"]
	path = lib/v4-periphery
	url = https://github.com/Uniswap/v4-periphery
